.DS_Store
.buildpath
.project
.externalToolBuilders
.settings

app/config/database.php

# Following is ignored in the spefic folders using a .gitignore hack that ensures the folder stays, but files in it is ignored
# app/tmp/**/*