@CHARSET "UTF-8";
div#container {
	background-color: red;
}

/*** general ***/
* {
	margin: 0;
	padding: 0;	
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
	background: none;
}

#header{
	background-color: #fff;
	color: #000;
	height: 20px;
	margin-bottom: 10px; 
}

/**** Top navigation ****/
#topNav{
		list-style-type:none;
		float:left;
}

ul#topNav li{
	display:inline;
}

#userInfo{
	float:right;	
}

/** general dashboard container **/
.dashboard {
	width: 500px;
	border: 1px solid #ccc;
	border-radius: 10px;	
	background: #ddd;
	color: #000;
	margin:10px 5px;
	float:left;
}

.dashboard .header{border-radius:10px 10px 0 0; border-bottom:1px solid #bbb;}
.dashboard .footer{border-radius: 0 0 10px 10px; border-top:1px solid #bbb;}
.dashboard .header,
.dashboard .footer{	
	background-color: #fff;
	padding: 10px;
}
.dashboard .footer .left{	float:left;}
.dashboard .footer .right{	float:right;}


/***** upcoming milestone description ***/
.milestone .milestoneDescription {
	font-size: 0.7em;	
}

/** tasks **/
.milestone .tasks{
	margin: 0 30px 10px 30px;
}

.milestone .tasks p{	
	height: 30px;
	line-height: 30px;	
	padding: 5px;	
	border-bottom: 1px solid #aaa;	
}
.milestone .tasks p.taskPending{background-color: #eee;}
.milestone .tasks p.taskDone{
	background-color: green;	
	color: #fff;
}

.milestone .tasks p .toggleStatus{
	float:right;
	height: 30px;	
}

.milestone .tasks p.taskPending .toggleStatus{
	opacity:0.4;
}

div.clear{
	clear:both;
}

/*** wiki **/
.tinymce{	height:600px; }